{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "import", "babel", "jest"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "log": false,
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  }
}
