{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "import",
    "babel",
    "jest"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": "error",
    "max-len": "off",
    "no-console": ["off"],
    "babel/semi": 1,
    "object-curly-newline": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "log": false,
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  }
}
