* {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;;
}

.container {
  margin: auto;
}

#form {
  width:100%;
  margin: auto;
}

#name, #character, #submit{
  text-align: center;
  display: block;
  margin: 10px auto 10px auto;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  box-sizing: border-box;
}

option {
  text-align: center;
}

#info {
  margin: auto;
  padding: 10px;
  border: solid 2px black;
}

.hide {
  display: none;
}