* {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;;
}

.container {
    margin: auto;
    position: relative;
    max-width: 600px;
}

#form {
    width:100%;
    margin: auto;
}

#name, select, button {
    text-align: center;
    display: block;
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    font-size: 1em;
    box-sizing: border-box;
    border: 2px #000 solid;
}

button {
    background-color: #4CAF50;
    color: #fff;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #497d37;
    color: #a6a6a6
}

#info {
    position: relative;
    margin: auto;
    padding: 10px;
    border: solid 2px black;
}

.bad {
    color: rgb(255, 0, 0);
}

.hide {
    display: none;
}

.character {
    width: 90%;
}

img {
    position: absolute;
    right: 10px;
    top: 10px;
    border: solid 2px #000;
    border-radius: 50%;
}

a, a:visited {
    color: rgb(22, 133, 235);
}
